@import base_visualizados_style.sass

main
	width: $unit * 43
	margin-top: $unit * 8
	font-family: Ubuntu
	font-weight: 300
	font-size: 90%
	line-height: 160%
	width: $unit*35
	text-align: justify
	@media #{$information-ipad-landscape}
		margin: $unit * 8 auto 0
	@media #{$information-ipad-portrait}
		margin: $unit * 8 auto 0
	@media #{$information-mobile-landscape}
		width: 90%
		margin: $unit * 6 auto 0
	@media screen and (min-width : 568px) and (max-width : 768px)
		margin: $unit * 8 auto 0
	@media screen and (min-width: 480px) and (max-width : 567px)
		margin-top: 0
		padding: 0
	@media #{$information-mobile-portrait}
		width: 90%
		margin: 0 auto
		padding: 0



	a
		color: $light-blue
		text-decoration: none
		&:hover
			color: $green
	h3
		font-size: 200%
		color: #79BD9A
.contact-links
	li
		padding-top: 0
		padding-bottom: $unit/2
		@media #{$information-mobile-portrait}
			padding: 0
			margin: 0
			float: none
			text-align: center
			font-size: 80%
