@import base_visualizados_style.sass

main
	width: $unit * 43
	margin-top: $unit * 8
	font-family: Ubuntu
	font-weight: 300
	font-size: 90%
	line-height: 160%
	width: $unit*35
	text-align: justify
	a
		color: $light-blue
		text-decoration: none
		&:hover
			color: $green
	h3
		font-size: 200%
		color: #79BD9A
.contact-links
	li
		padding-top: 0
		padding-bottom: $unit/2
